@model IEnumerable<SocialCS.Models.MvcArticles>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.MvcUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MvcUser.UserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticlesID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArticlesID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticlesID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
